Repository BinaryStudioAcademy/bsa-2023-towhub, pull requests merged in 2023-09, with the labels that each got.

#60 th-24: Add protected routing [FE]
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/components/router-provider/router-provider.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/components/spinner/styles.module.scss
  frontend/src/libs/types/store.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/selectors.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Labels: enhancement, frontend, development, shared

#101 th-80: Table Component
  frontend/package.json
  frontend/src/.stylelintrc.yml
  frontend/src/libs/components/badge/badge.tsx
  frontend/src/libs/components/badge/types/color.type.ts
  frontend/src/libs/components/badge/types/light-color.type.ts
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/pagination/libs/constant.ts
  frontend/src/libs/components/pagination/libs/helpers.ts
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/pagination/styles.module.scss
  frontend/src/libs/components/table/styles.module.scss
  frontend/src/libs/components/table/table.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-app-table/libs/constant.ts
  frontend/src/libs/hooks/use-app-table/use-app-table.ts
  frontend/src/libs/palette/dark-colors.module.scss
  frontend/src/libs/palette/light-colors.module.scss
  frontend/src/libs/types/app-think.type.ts
  frontend/src/libs/types/color.type.ts
  frontend/src/libs/types/types.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/types/entity-pagination.ts
  shared/src/libs/types/types.ts
Labels: root, frontend, shared

#135 th-133: Fix phone field
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
Labels: bug, frontend

#113 th-108: Google autocomplete
  frontend/package.json
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/location-input/location-input.tsx
  frontend/src/libs/components/location-input/styles.module.scss
  package-lock.json
Labels: root, frontend

#143 th-140: Fix email length
  shared/src/packages/users/libs/validation-schemas/common-rules/signup-rules.ts
Labels: bug, shared

#147 th-127: The Company Name field on the Sign up (Business) page does not accept digits as valid value
  shared/src/packages/users/libs/validation-schemas/enums/user-validation-rule.enum.ts
Labels: bug, shared

#149 th-128: The Last Name and the First Name fields on the Sign up page do not accept content with spaces as valid
  shared/src/packages/users/libs/validation-schemas/enums/user-validation-rule.enum.ts
Labels: bug, shared

#152 th-137: The unknown validation warnings are shown under the Email field on he Sign up page after entering the data in the invalid format
  frontend/src/libs/components/form/form.tsx
Labels: bug, frontend

#156 th-125: Fix content positioning below the header
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/styles.module.css
  frontend/src/pages/auth/styles.module.scss
Labels: bug, frontend

#185 th-165: Redirect customers to Home page
  frontend/src/libs/hooks/use-auth-navigate/use-auth-navigate.hook.ts
Labels: bug, frontend

#114 th-112: Add query parameters service
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-query-parameters/use-query-parameters.hook.ts
Labels: frontend

#190 th-184: Add business in SignIn response
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
Labels: backend, shared

#205 th-167: Implement WS Location service
  backend/src/libs/packages/database/schema/schema.ts
  backend/src/libs/packages/database/schema/tables-schema.ts
  backend/src/libs/packages/geolocation-cache/geolocation-cache.package.ts
  backend/src/libs/packages/geolocation-cache/geolocation-cache.ts
  backend/src/libs/packages/geolocation-cache/libs/types/geolocation-cache.type.ts
  backend/src/libs/packages/geolocation-cache/libs/types/types.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/socket/libs/types/types.ts
  backend/src/libs/packages/socket/socket.service.ts
  backend/src/packages/drivers/driver.service.ts
  backend/src/packages/drivers/drivers.ts
  frontend/.env.example
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-geolocation/use-geolocation.hook.ts
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
  frontend/src/libs/packages/geolocation/helpers/helpers.ts
  frontend/src/libs/packages/geolocation/helpers/send-driver-geolocation/send-driver-geolocation.helper.ts
  frontend/src/libs/packages/socket/libs/enums/enums.ts
  frontend/src/libs/packages/socket/libs/types/client-socket-event-value.type.ts
  frontend/src/libs/packages/socket/libs/types/types.ts
  frontend/src/libs/packages/socket/socket.package.ts
  frontend/src/libs/packages/socket/socket.ts
  shared/src/index.ts
  shared/src/libs/packages/geolocation/geolocation.ts
  shared/src/libs/packages/geolocation/types/geolocation-lat-lng.type.ts
  shared/src/libs/packages/geolocation/types/types.ts
  shared/src/libs/packages/http/libs/enums/http-error-message.enum.ts
  shared/src/libs/packages/socket/libs/enums/server-socket-event.enum.ts
  shared/src/libs/packages/socket/libs/types/server-socket-event-parameter.type.ts
  shared/src/libs/packages/socket/libs/types/types.ts
  shared/src/libs/packages/socket/socket.ts
  shared/src/packages/drivers/libs/types/response/driver-create-update-response-dto.type.ts
Labels: frontend, backend, shared, ENV

#176 th-166: Truck filter (Markup)
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-input/dropdown-input.tsx
  frontend/src/libs/components/dropdown-input/styles.module.scss
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/dropdown/styles.module.scss
  frontend/src/libs/components/form/form.tsx
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/truck-filter/libs/truck-filter-field.enum.ts
  frontend/src/libs/components/truck-filter/styles.module.scss
  frontend/src/libs/components/truck-filter/truck-filter.tsx
  frontend/src/libs/types/truck-filters.type.ts
  frontend/src/libs/types/types.ts
Labels: frontend

#95 th-81: Create order card component
  frontend/package.json
  frontend/react-component.d.ts
  frontend/src/assets/img/order-card/arrow-down.svg
  frontend/src/assets/img/order-card/blue-circle.svg
  frontend/src/assets/img/order-card/horizontal-bar.svg
  frontend/src/assets/img/order-card/location-dot.svg
  frontend/src/assets/img/order-card/map.svg
  frontend/src/assets/img/order-card/red-circle.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/order-card/libs/types/driver-profile-info.type.ts
  frontend/src/libs/components/order-card/libs/types/order-current-status.type.ts
  frontend/src/libs/components/order-card/libs/types/order-initial-status.type.ts
  frontend/src/libs/components/order-card/libs/types/ordered-truck-info.type.ts
  frontend/src/libs/components/order-card/libs/types/types.ts
  frontend/src/libs/components/order-card/order-card.tsx
  frontend/src/libs/components/order-card/styles.module.scss
  frontend/src/libs/components/plain-svg-icon/maps/icon-name-to-plain-svg.map.tsx
  frontend/src/libs/components/plain-svg-icon/maps/maps.tsx
  frontend/src/libs/components/plain-svg-icon/plain-svg-icon.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/plain-svg-icon-name.enum.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  package-lock.json
  package.json
  shared/src/libs/packages/http/libs/types/http-options.type.ts
Labels: root, frontend, shared

#197 th-180: Get current user
  backend/src/packages/auth/auth.controller.ts
  backend/src/packages/auth/auth.service.ts
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/hooks/use-get-current-user/use-get-current-user.hook.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
Labels: frontend, backend, shared

#225 th-180: Fix page layout
  frontend/src/libs/components/router/router.tsx
Labels: bug, frontend

#206 th-202: Implement the 404 page according to the design
  frontend/src/pages/not-found/not-found.tsx
  frontend/src/pages/not-found/styles.module.scss
Labels: frontend

#221 th-212: Shift service
  backend/src/libs/packages/database/generated-schema/0009_create_shifts_table.sql
  backend/src/libs/packages/database/generated-schema/meta/0009_snapshot.json
  backend/src/libs/packages/database/generated-schema/meta/_journal.json
  backend/src/libs/packages/database/schema/schema.ts
  backend/src/libs/packages/database/schema/tables-schema.ts
  backend/src/libs/packages/server-application/server-application.ts
  backend/src/packages/business/business.repository.ts
  backend/src/packages/business/business.service.ts
  backend/src/packages/groups/groups.ts
  backend/src/packages/groups/libs/enums/enums.ts
  backend/src/packages/shifts/libs/enums/enums.ts
  backend/src/packages/shifts/libs/types/types.ts
  backend/src/packages/shifts/libs/validation-schemas/validaion-schemas.ts
  backend/src/packages/shifts/shift.controller.ts
  backend/src/packages/shifts/shift.entity.ts
  backend/src/packages/shifts/shift.repository.ts
  backend/src/packages/shifts/shift.service.ts
  backend/src/packages/shifts/shift.ts
  readme.md
  shared/src/index.ts
  shared/src/libs/enums/api-path.enum.ts
  shared/src/libs/packages/http/libs/enums/http-error-message.enum.ts
  shared/src/packages/shifts/libs/enums/enums.ts
  shared/src/packages/shifts/libs/enums/shift-api-path.enum.ts
  shared/src/packages/shifts/libs/enums/shift-validation-message.enum.ts
  shared/src/packages/shifts/libs/types/shift-close-request-dto.type.ts
  shared/src/packages/shifts/libs/types/shift-create-request-dto.type.ts
  shared/src/packages/shifts/libs/types/shift-entity.type.ts
  shared/src/packages/shifts/libs/types/shift-response-dto.type.ts
  shared/src/packages/shifts/libs/types/types.ts
  shared/src/packages/shifts/libs/validation-schemas/shift-close.validation-schema.ts
  shared/src/packages/shifts/libs/validation-schemas/shift-create.validation-schema.ts
  shared/src/packages/shifts/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/shifts/shifts.ts
Labels: root, backend, shared

#231 th-212: Fix Shift service
  backend/src/packages/shifts/shift.controller.ts
Labels: bug, backend

#238 th-235: Fix swager for drivers
  backend/src/packages/business/business.controller.ts
Labels: backend

#240 th-230: Eval order price on the BE
  backend/.env.example
  backend/package.json
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/packages/map/libs/constants/constants.ts
  backend/src/packages/map/libs/enums/enums.ts
  backend/src/packages/map/libs/helpers/helpers.ts
  backend/src/packages/map/libs/types/types.ts
  backend/src/packages/map/map.service.ts
  backend/src/packages/map/map.ts
  package-lock.json
Labels: enhancement, root, backend, ENV

#259 th-257: GeolocationCacheService use truckId for key instead of driverId
  backend/src/libs/packages/socket/socket.service.ts
  frontend/src/libs/packages/geolocation/helpers/helpers.ts
  frontend/src/libs/packages/geolocation/helpers/send-truck-geolocation/send-truck-geolocation.helper.ts
  package-lock.json
  shared/src/libs/packages/socket/libs/enums/server-socket-event.enum.ts
  shared/src/libs/packages/socket/libs/types/server-socket-event-parameter.type.ts
Labels: root, frontend, backend, shared

#269 th-236: Business Journey: Saving Order with shift id + getting all orders with joined driver & truck info
  backend/src/libs/packages/database/generated-schema/0010_change_orders_table.sql
  backend/src/libs/packages/database/generated-schema/meta/0010_snapshot.json
  backend/src/libs/packages/database/generated-schema/meta/_journal.json
  backend/src/libs/packages/database/schema/tables-schema.ts
  backend/src/packages/orders/libs/types/types.ts
  backend/src/packages/orders/order.controller.ts
  backend/src/packages/orders/order.entity.ts
  backend/src/packages/orders/order.repository.ts
  backend/src/packages/orders/order.service.ts
  backend/src/packages/orders/orders.ts
  backend/src/packages/shifts/shift.repository.ts
  backend/src/packages/shifts/shift.service.ts
  package-lock.json
  readme.md
  shared/src/index.ts
  shared/src/libs/packages/http/libs/enums/http-error-message.enum.ts
  shared/src/packages/orders/libs/enums/order-status.enum.ts
  shared/src/packages/orders/libs/enums/orders-validation-message.enum.ts
  shared/src/packages/orders/libs/types/order-create-request-dto.type.ts
  shared/src/packages/orders/libs/types/order-create-response-dto.type.ts
  shared/src/packages/orders/libs/types/order-entity.type.ts
  shared/src/packages/orders/libs/types/order-response-dto.type.ts
  shared/src/packages/orders/libs/types/order-update-request-dto.type.ts
  shared/src/packages/orders/libs/types/order-update-response-dto.type.ts
  shared/src/packages/orders/libs/types/types.ts
  shared/src/packages/orders/libs/validation-schemas/order-create-request-body.validation-schema.ts
  shared/src/packages/orders/libs/validation-schemas/orders-update-request-body.validation-schema.ts
  shared/src/packages/orders/orders.ts
Labels: root, backend, shared

#278 th-236: Fix / Add shift to order
  backend/src/packages/orders/order.repository.ts
Labels: bug, backend

#194 th-183: Update validation rule and error message
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  shared/src/packages/users/libs/validation-schemas/enums/user-validation-message.enum.ts
  shared/src/packages/users/libs/validation-schemas/enums/user-validation-rule.enum.ts
Labels: frontend, shared

#284 th-283: Fixed .env.example
  backend/.env.example
  backend/src/libs/packages/config/config.package.ts
  backend/src/libs/packages/config/libs/types/environment-schema.type.ts
  backend/src/libs/packages/s3-client-service/s3-client-service.package.ts
  readme.md
Labels: root, backend, ENV

#262 th-249: Redesign UI table
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/pagination/styles.module.scss
  frontend/src/libs/components/table/libs/components/components.ts
  frontend/src/libs/components/table/libs/components/tbody.tsx
  frontend/src/libs/components/table/libs/components/thead.tsx
  frontend/src/libs/components/table/libs/helpers/add-icons-to-data.helper.ts
  frontend/src/libs/components/table/libs/helpers/check-is-action-cell.helper.ts
  frontend/src/libs/components/table/libs/helpers/get-cell-click-handler.helper.ts
  frontend/src/libs/components/table/libs/helpers/helpers.ts
  frontend/src/libs/components/table/styles.module.scss
  frontend/src/libs/components/table/table.tsx
  frontend/src/libs/enums/icon-name.enum.ts
Labels: enhancement, frontend

#242 th-224: Fix resize background image
  frontend/src/assets/img/auth-page-bg.svg
Labels: bug, frontend

#276 th-267: Fix incorrect resize burger menu
  frontend/src/libs/components/burger-menu/burger-menu.tsx
  frontend/src/libs/components/burger-menu/styles.module.scss
Labels: bug, frontend

#275 th-273: Remove businessId from business/driver endpoint
  backend/src/packages/business/business.controller.ts
  backend/src/packages/business/business.service.ts
  backend/src/packages/drivers/drivers.ts
  backend/src/packages/drivers/libs/types/types.ts
  backend/src/packages/drivers/libs/validation-schemas/validation-schemas.ts
  shared/src/index.ts
  shared/src/packages/business/libs/enums/business-api-path.enum.ts
  shared/src/packages/drivers/drivers.ts
  shared/src/packages/drivers/libs/types/request/business-get-all-drivers-request-dto.type.ts
  shared/src/packages/drivers/libs/types/request/driver-get-request-parameters.type.ts
  shared/src/packages/drivers/libs/types/request/driver-request-parameters.type.ts
  shared/src/packages/drivers/libs/types/request/driver-update-delete-request-parameters.type.ts
  shared/src/packages/drivers/libs/types/request/request.ts
  shared/src/packages/drivers/libs/types/types.ts
  shared/src/packages/drivers/libs/validation-schemas/driver-get-parameters.validation-schema.ts
  shared/src/packages/drivers/libs/validation-schemas/driver-update-delete-parameters.validation-schema.ts
  shared/src/packages/drivers/libs/validation-schemas/validation-schemas.ts
Labels: bug, backend, shared

#282 th-281: Fixed view types
  backend/src/libs/packages/view/libs/interfaces/view.interface.ts
  backend/src/libs/packages/view/view.package.ts
  backend/src/packages/mail/libs/maps/template-name-to-view.map.ts
  backend/src/packages/mail/libs/types/render-parameter.type.ts
  backend/src/packages/mail/libs/types/send-page-mail-header.type.ts
  backend/src/packages/mail/libs/types/send-text-mail-header.type.ts
  backend/src/packages/mail/libs/types/template-name-to-view.type.ts
  backend/src/packages/mail/libs/types/types.ts
  backend/src/packages/mail/libs/views/plain/libs/types/plain-view-render-parameter.type.ts
  backend/src/packages/mail/libs/views/plain/libs/types/types.ts
  backend/src/packages/mail/libs/views/plain/plain.ts
  backend/src/packages/mail/libs/views/plain/plain.view.ts
  backend/src/packages/mail/mail.service.ts
Labels: bug, backend

#322 th-320: Remove Redundant Migration 0012_add_businessId_to_trucks.sql
  backend/src/libs/packages/database/generated-schema/0012_add_businessId_to_trucks.sql
Labels: bug, backend

#318 th-314: Change the inscription for the empty driver and truck table and the name of the button
  frontend/src/libs/components/table/styles.module.scss
  frontend/src/libs/components/table/table.tsx
  frontend/src/pages/dashboard/components/tables/drivers-table/driver-table.tsx
  frontend/src/pages/dashboard/components/tables/drivers-table/styles.module.scss
  frontend/src/pages/dashboard/components/tables/trucks-table/styles.module.scss
  frontend/src/pages/dashboard/components/tables/trucks-table/trucks-table.tsx
Labels: bug, frontend

#304 th-252: Show/hide Password Invalid Activation On ENTER Key Press
  frontend/src/libs/components/input/input.tsx
Labels: bug, frontend

#301 th-271: Update swagger documentation for Orders
  backend/src/packages/orders/order.controller.ts
Labels: backend

#298 th-280: Bug: When trying to create a shift for the driver, the 404 error (in Postman) and a 500 error (in swagger) appear for an unauthorized user
  backend/src/packages/shifts/shift.controller.ts
Labels: bug, backend

#272 th-270: Fix authorized business-user can get data, change data, delete business of any business by id
  backend/src/libs/exceptions/entity-access-denied/entity-access-denied-error.exception.ts
  backend/src/libs/exceptions/entity-access-denied/entity-access-denied.ts
  backend/src/libs/exceptions/exceptions.ts
  backend/src/libs/interfaces/service.interface.ts
  backend/src/packages/business/business.controller.ts
  backend/src/packages/business/business.service.ts
  backend/src/packages/business/business.ts
  backend/src/packages/business/libs/types/types.ts
  backend/src/packages/business/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/orders/order.entity.ts
  shared/src/index.ts
  shared/src/libs/enums/app-error-message.enum.ts
  shared/src/packages/business/business.ts
  shared/src/packages/business/libs/types/request/business-delete-request-parameters.type.ts
  shared/src/packages/business/libs/types/request/business-get-request-parameters.type.ts
  shared/src/packages/business/libs/types/request/business-update-request-parameters.type.ts
  shared/src/packages/business/libs/types/request/request.ts
  shared/src/packages/business/libs/types/types.ts
  shared/src/packages/business/libs/validation-schemas/business-delete-parameters.validation-schema.ts
  shared/src/packages/business/libs/validation-schemas/business-get-parameters.validation-schema.ts
  shared/src/packages/business/libs/validation-schemas/business-update-parameters.validation-schema.ts
  shared/src/packages/business/libs/validation-schemas/validation-schemas.ts
Labels: enhancement, backend, shared

#348 th-345: Fix driver session automatically ends after 30 seconds
  backend/src/packages/shifts/libs/constants/constants.ts
  backend/src/packages/shifts/shift.socket-service.ts
Labels: backend

#347 th-336: When creating an order, the phone and username values are not stored in the database
  backend/src/packages/orders/order.controller.ts
  backend/src/packages/orders/order.service.ts
Labels: bug, backend

#354 th-352: Fix the sidebar
  frontend/src/pages/dashboard/components/sidebar/styles.module.scss
Labels: bug, frontend

#353 th-312: Fix name validation rule
  shared/src/packages/users/libs/validation-schemas/enums/user-validation-rule.enum.ts
Labels: bug, shared

#305 th-297: The Burger Menu Extends Beyond The Header
  frontend/src/libs/components/burger-menu/burger-menu.tsx
  frontend/src/libs/components/burger-menu/styles.module.scss
Labels: bug, frontend

#264 th-243: Add possibility accept/decline order
  backend/src/libs/packages/database/generated-schema/0014_add_rejected_status_to_orders.sql
  backend/src/libs/packages/database/generated-schema/meta/0014_snapshot.json
  backend/src/libs/packages/database/generated-schema/meta/_journal.json
  backend/src/libs/packages/socket/libs/types/types.ts
  backend/src/libs/packages/socket/socket.service.ts
  backend/src/packages/orders/libs/helpers/check-user-group.helper.ts
  backend/src/packages/orders/libs/helpers/helpers.ts
  backend/src/packages/orders/libs/types/types.ts
  backend/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/orders/order.controller.ts
  backend/src/packages/orders/order.entity.ts
  backend/src/packages/orders/order.service.ts
  backend/src/packages/shifts/shift.service.ts
  frontend/src/libs/components/order-provider/order-provider.tsx
  frontend/src/libs/components/orders-status/libs/maps/order-status-to-message.map.ts
  frontend/src/libs/components/orders-status/styles.module.scss
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/packages/orders/enums/enums.ts
  frontend/src/packages/orders/libs/types/types.ts
  frontend/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/orders/orders-api.ts
  frontend/src/packages/orders/orders.ts
  frontend/src/packages/orders/types/types.ts
  frontend/src/pages/order-status/libs/components/buttons-section/buttons-section.tsx
  frontend/src/pages/order-status/order-status.tsx
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/libs/enums/action-name.enum.ts
  frontend/src/slices/orders/order.slice.ts
  frontend/src/slices/orders/order.ts
  shared/src/index.ts
  shared/src/libs/packages/http/libs/enums/http-error-message.enum.ts
  shared/src/libs/packages/http/libs/enums/http-method.enum.ts
  shared/src/libs/packages/http/libs/types/http-method.type.ts
  shared/src/packages/orders/libs/enums/order-status.enum.ts
  shared/src/packages/orders/libs/enums/orders-api-path.enum.ts
  shared/src/packages/orders/libs/types/order-update-accept-status-request-dto.type.ts
  shared/src/packages/orders/libs/types/order-update-accept-status-request-parameter.type.ts
  shared/src/packages/orders/libs/types/order-update-accept-status-response-dto.type.ts
  shared/src/packages/orders/libs/types/types.ts
  shared/src/packages/orders/libs/validation-schemas/order-update-accept-status-request-body.validation-schema.ts
  shared/src/packages/orders/libs/validation-schemas/order-update-request-accept-status-parameter.validation-schema.ts
  shared/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/orders/orders.ts
Labels: frontend, backend, shared

#362 th-357: Quality criteria fixes
  backend/src/libs/packages/mailer/mailer.package.ts
  backend/src/libs/packages/s3-client-service/s3-client-service.package.ts
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/packages/auth/libs/helpers/create-unauthorized-error.helper.ts
  backend/src/packages/business/business.repository.ts
  backend/src/packages/drivers/driver.repository.ts
  backend/src/packages/mail/mail.service.ts
  backend/src/packages/map/libs/constants/constants.ts
  backend/src/packages/map/map.service.ts
  backend/src/packages/trucks/truck.service.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/components/chosen-file-preview/chosen-file-preview.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown-input/dropdown-input.tsx
  frontend/src/libs/components/file-input/file-input.tsx
  frontend/src/libs/components/form/libs/constants/constants.ts
  frontend/src/libs/components/form/libs/constants/path-delimiter.const.ts
  frontend/src/libs/components/form/libs/consts/consts.ts
  frontend/src/libs/components/form/libs/consts/field-path-delimiter.const.ts
  frontend/src/libs/components/form/libs/helpers/handle-server-error.helper.ts
  frontend/src/libs/components/modal/hooks/use-modal/use-modal.hook.ts
  frontend/src/libs/components/modal/libs/constants/constants.ts
  frontend/src/libs/components/pagination/libs/helpers.ts
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/star-rating/star-rating.tsx
  frontend/src/libs/components/star-rating/styles.module.scss
  frontend/src/libs/hooks/use-query-parameters/use-query-parameters.hook.ts
  frontend/src/libs/packages/map/libs/helpers/rotate-img.helper.ts
Labels: bug, frontend, backend

#358 th-351: Sidebar for drivers
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/types/sidebar.type.ts
  frontend/src/pages/dashboard/components/sidebar/components/end-shift-button/end-shift-button.tsx
  frontend/src/pages/dashboard/components/sidebar/components/end-shift-button/styles.module.scss
  frontend/src/pages/dashboard/components/sidebar/libs/helpers.ts
  frontend/src/pages/dashboard/components/sidebar/libs/helpers/check-active-tab.helper.ts
  frontend/src/pages/dashboard/components/sidebar/libs/tabs.ts
  frontend/src/pages/dashboard/components/sidebar/sidebar.tsx
  frontend/src/pages/dashboard/components/sidebar/styles.module.scss
  frontend/src/pages/orders/orders.tsx
Labels: frontend

#374 th-369: Map render on reload
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/map-connector.package.ts
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/order-status/order-status.tsx
Labels: bug, frontend

#295 th-213: Business Journey - FE: Order List
  backend/src/packages/orders/order.entity.ts
  frontend/src/assets/img/avatar-default.png
  frontend/src/assets/img/tow-truck-small.svg
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/map/libs/constants/constants.ts
  frontend/src/libs/components/order-list-card-business/libs/map/map-order-status-to-readable.map.ts
  frontend/src/libs/components/order-list-card-business/libs/map/maps.ts
  frontend/src/libs/components/order-list-card-business/libs/types/readable-status-with-color.type.ts
  frontend/src/libs/components/order-list-card-business/libs/types/types.ts
  frontend/src/libs/components/order-list-card-business/order-list-card-business.tsx
  frontend/src/libs/components/order-list-card-business/styles.module.scss
  frontend/src/libs/components/order-list/order-list.tsx
  frontend/src/libs/components/order-list/styles.module.scss
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/img-path.enum.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/libs/helpers/json-to-lat-lng-literal/json-to-lat-lng-literal.helper.ts
  frontend/src/libs/hooks/use-app-map/libs/helpers/get-bounds.helper.ts
  frontend/src/libs/hooks/use-app-map/libs/helpers/helpers.ts
  frontend/src/libs/hooks/use-app-map/libs/helpers/set-map-service.helper.ts
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/libs/constants/constants.ts
  frontend/src/libs/packages/map/libs/helpers/create-icon.helper.ts
  frontend/src/libs/packages/map/libs/helpers/helpers.ts
  frontend/src/libs/packages/map/libs/types/map-service-parameters.type.ts
  frontend/src/libs/packages/map/libs/types/types.ts
  frontend/src/libs/packages/map/map-connector.package.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/libs/types/color.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/packages/orders/orders-api.ts
  frontend/src/pages/dashboard/components/orders/orders.tsx
  frontend/src/pages/dashboard/components/orders/styles.module.scss
  frontend/src/pages/dashboard/dashboard.tsx
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/order.slice.ts
  frontend/src/slices/orders/orders.ts
  frontend/src/slices/orders/selectors.ts
Labels: frontend, backend, conflicts

#346 th-337: Remove time field from order form
  frontend/src/pages/order/libs/components/libs/fields.ts
  frontend/src/pages/order/libs/components/libs/helpers.ts
  frontend/src/pages/order/libs/components/styles.module.scss
  frontend/src/pages/order/styles.module.scss
  shared/src/packages/orders/libs/enums/orders-validation-message.enum.ts
  shared/src/packages/orders/libs/validation-schemas/order-create-request-body.validation-schema.ts
Labels: bug, frontend, shared

#385 th-311: Add rejected order status to 0015-snapshot.json
  backend/src/libs/packages/database/generated-schema/meta/0015_snapshot.json
Labels: backend

#389 th-248: Remove Non-nullable From driver_license_file
  backend/src/libs/packages/database/generated-schema/0017_create_file_verification_status_table.sql
  backend/src/libs/packages/database/generated-schema/meta/0017_snapshot.json
  backend/src/libs/packages/database/schema/tables-schema.ts
  backend/src/packages/business/business.service.ts
  backend/src/packages/drivers/driver.repository.ts
  shared/src/packages/drivers/libs/types/driver-entity.type.ts
Labels: bug, backend, shared

#339 th-333: Driver order page
  backend/src/libs/packages/socket/socket.service.ts
  backend/src/packages/orders/order.service.ts
  frontend/src/libs/components/driver-socket-provider/driver-socket-provider.tsx
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/packages/middleware/socket.middleware.ts
  frontend/src/pages/available-trucks/available-trucks.tsx
  frontend/src/pages/available-trucks/libs/components/available-truck-card/available-truck-card.tsx
  frontend/src/pages/available-trucks/libs/components/available-truck-card/styles.module.scss
  frontend/src/pages/available-trucks/libs/components/components.ts
  frontend/src/pages/driver-order/driver-order.tsx
  frontend/src/pages/driver-order/libs/enums/enums.ts
  frontend/src/pages/driver-order/libs/enums/order-status.enum.ts
  frontend/src/pages/driver-order/libs/hooks/hooks.ts
  frontend/src/pages/driver-order/libs/hooks/use-get-route-data.hook.ts
  frontend/src/pages/driver-order/libs/hooks/use-subscribe-order.hook.ts
  frontend/src/pages/driver-order/styles.module.scss
  frontend/src/pages/order-status/order-status.tsx
  frontend/src/pages/pages.ts
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/libs/enums/action-name.enum.ts
  frontend/src/slices/orders/libs/helpers/helpers.ts
  frontend/src/slices/orders/libs/helpers/notificate-order-status-change.helper.ts
  frontend/src/slices/orders/order.slice.ts
  frontend/src/slices/orders/order.ts
  shared/src/libs/packages/socket/libs/enums/room-prefix.enum.ts
  shared/src/libs/packages/socket/libs/enums/server-to-client-event.enum.ts
  shared/src/libs/packages/socket/libs/types/server-to-client-event-parameter.type.ts
  shared/src/packages/orders/libs/types/order-update-accept-status-request-dto.type.ts
  shared/src/packages/orders/libs/validation-schemas/order-update-accept-status-request-body.validation-schema.ts
Labels: frontend, backend, shared

#200 th-164: Create a mask for the phone fields for the forms on the Sign up Business and Sign up Customer pages
  frontend/package.json
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
  frontend/src/libs/enums/input-type.enum.ts
  frontend/src/pages/auth/components/sign-up-form/libs/fields.ts
  package-lock.json
Labels: root, frontend

#395 th-394: Fixed avatar crop form, avatar upload, license upload form
  backend/src/packages/drivers/driver.service.ts
  backend/src/packages/files/files-validation.app-plugin.ts
  frontend/src/libs/components/file-input/file-input.tsx
  frontend/src/libs/components/image-selector/image-selector.tsx
  frontend/src/libs/components/image-selector/styles.module.scss
  frontend/src/libs/components/modal/modal.tsx
  frontend/src/libs/constants/constants.ts
  frontend/src/libs/constants/files-formdata-field-name.constant.ts
  frontend/src/slices/business/actions.ts
  frontend/src/slices/drivers/actions.ts
  frontend/src/slices/files/actions.ts
  readme.md
Labels: root, frontend, backend

#325 th-286: Edit form for business and customer users
  backend/src/index.d.ts
  backend/src/packages/auth/auth.app-plugin.ts
  backend/src/packages/auth/libs/enums/auth-strategy.enum.ts
  backend/src/packages/business/business.controller.ts
  backend/src/packages/business/business.service.ts
  backend/src/packages/business/business.ts
  backend/src/packages/business/libs/types/types.ts
  backend/src/packages/business/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/libs/types/types.ts
  backend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/users/user.controller.ts
  backend/src/packages/users/user.service.ts
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/libs/constants/burger-menu-items.ts
  frontend/src/libs/components/protected-route-for-business-customer/protected-route-for-business-customer.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/packages/business/business-api.ts
  frontend/src/packages/users/libs/enums/enums.ts
  frontend/src/packages/users/libs/enums/user-notification-message.enum.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users-api.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/pages.ts
  frontend/src/pages/profile/components/edit-form/edit-form.tsx
  frontend/src/pages/profile/components/edit-form/libs/fields.ts
  frontend/src/pages/profile/components/edit-form/styles.module.scss
  frontend/src/pages/profile/profile.tsx
  frontend/src/pages/profile/styles.module.scss
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/index.ts
  shared/src/packages/business/libs/validation-schemas/common-rules/business-common-rules.ts
  shared/src/packages/business/libs/validation-schemas/common-rules/common-rules.ts
  shared/src/packages/users/libs/types/business-edit-dto.type.ts
  shared/src/packages/users/libs/types/business-edit-response-dto.type.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/validation-schemas/business-edit.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/business-sign-up.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/common-rules/common-rules.ts
  shared/src/packages/users/libs/validation-schemas/common-rules/edit-rules.ts
  shared/src/packages/users/libs/validation-schemas/customer-edit.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: enhancement, frontend, backend, shared

#382 th-349: Adds dynamic redirect by clicking on the logo
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/libs/maps/maps.ts
  frontend/src/libs/components/header/libs/maps/user-group-to-redirect-link.map.ts
Labels: enhancement, frontend

#396 th-390: Fix the Add truck form height has a lot of empty space under the Add button
  frontend/src/libs/components/modal/styles.module.scss
Labels: bug, frontend

#331 th-319: Fix duplicated truck after create
  frontend/src/libs/components/table/styles.module.scss
  frontend/src/libs/hooks/use-app-table/use-app-table.ts
  frontend/src/pages/dashboard/components/tables/trucks-table/columns/columns.ts
  frontend/src/slices/trucks/trucks.slice.ts
  shared/src/packages/trucks/libs/enums/truck-capacity.enum.ts
Labels: bug, frontend, shared

#285 th-241: Bug: With an active session in two browsers, when reloading the page on one of them, the user's session ends and a 404 error appears
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/libs/enums/enums.ts
  backend/src/packages/auth/libs/enums/time-constants.enum.ts
  backend/src/packages/auth/libs/helpers/get-lifetime-in-milliseconds.helper.ts
  backend/src/packages/auth/libs/helpers/get-time-difference-in-milliseconds.helper.ts
  backend/src/packages/auth/libs/helpers/helpers.ts
Labels: bug, backend

#330 th-308: Order list filter
  backend/src/packages/orders/libs/helpers/combine-filters.ts
  backend/src/packages/orders/libs/types/types.ts
  backend/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/orders/order.controller.ts
  backend/src/packages/orders/order.repository.ts
  backend/src/packages/orders/order.service.ts
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/order-filter/libs/constants/constants.ts
  frontend/src/libs/components/order-filter/libs/types/type.tsx
  frontend/src/libs/components/order-filter/order-filter.tsx
  frontend/src/libs/components/order-filter/styles.module.scss
  frontend/src/libs/components/order-list-card-business/order-list-card-business.tsx
  frontend/src/libs/components/order-list-card-business/styles.module.scss
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/libs/types/icon.type.ts
  frontend/src/libs/packages/map/libs/types/place-lat-lng.type.ts
  frontend/src/libs/packages/map/libs/types/types.ts
  frontend/src/libs/types/types.ts
  frontend/src/packages/orders/orders-api.ts
  frontend/src/pages/dashboard/components/orders/map-orders.tsx
  frontend/src/pages/dashboard/components/orders/orders.tsx
  frontend/src/pages/dashboard/components/orders/styles.module.scss
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/order.slice.ts
  frontend/src/slices/orders/order.ts
  frontend/src/slices/orders/orders.ts
  frontend/src/slices/orders/selectors.ts
  shared/src/index.ts
  shared/src/packages/orders/libs/enums/orders-api-path.enum.ts
  shared/src/packages/orders/libs/types/order-query-parameters.type.ts
  shared/src/packages/orders/libs/types/orders-list-response-dto.type.ts
  shared/src/packages/orders/libs/types/types.ts
  shared/src/packages/orders/libs/validation-schemas/order-find-all-business-orders-query.validation-schema.ts
  shared/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/orders/orders.ts
Labels: frontend, backend, shared

#400 th-368: Fix burger menu width
  frontend/src/libs/components/burger-menu/styles.module.scss
Labels: bug, frontend

#370 th-323: Add error message to the form when truck already exists
  frontend/src/libs/enums/enums.ts
  frontend/src/pages/dashboard/components/form/add-truck-form/add-truck-form.tsx
  frontend/src/pages/dashboard/components/form/add-truck-form/fields/add-truck.fields.ts
  frontend/src/pages/dashboard/components/tables/trucks-table/trucks-table.tsx
  frontend/src/slices/trucks/actions.ts
  frontend/src/slices/trucks/libs/hooks/hooks.ts
  frontend/src/slices/trucks/libs/hooks/use-truck-server-error.hook.ts
  frontend/src/slices/trucks/selectors.ts
  frontend/src/slices/trucks/trucks.slice.ts
Labels: bug, frontend

#409 th-408: Fix current url being lost after page refresh and other redirect related issues
  frontend/src/libs/components/protected-route/protected-route.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/hooks/use-get-current-user/use-get-current-user.hook.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/libs/hooks/use-auth-navigate/use-auth-navigate.hook.ts
  frontend/src/slices/auth/auth.slice.ts
Labels: frontend

#412 th-410: Bug: When the customer clicks on "Edit profile" an error appears
  frontend/src/pages/profile/components/edit-form/edit-form.tsx
Labels: bug, frontend

#414 th-401: Сhanges redirect link for business group
  frontend/src/libs/components/header/libs/maps/user-group-to-redirect-link.map.ts
  frontend/src/libs/enums/app-route.enum.ts
Labels: bug, frontend

#405 th-378: The sidebar is not displayed on the edit driver page
  frontend/src/libs/components/router/router.tsx
Labels: bug, frontend

#387 th-377: Send truck geolocation
  backend/src/libs/packages/socket/socket.service.ts
  frontend/.env.example
  frontend/src/libs/components/driver-socket-provider/driver-socket-provider.tsx
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/enums/default.enum.ts
  frontend/src/libs/packages/config/enums/enums.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
  frontend/src/libs/packages/middleware/geolocation.middleware.ts
  frontend/src/libs/packages/middleware/libs/enums/enums.ts
  frontend/src/libs/packages/middleware/libs/enums/geolocation-messages.enum.ts
  frontend/src/libs/packages/middleware/libs/helpers/helpers.ts
  frontend/src/libs/packages/middleware/libs/helpers/update-geolocation.helper.ts
  frontend/src/libs/packages/middleware/libs/types/types.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/available-trucks/available-trucks.tsx
  frontend/src/slices/trucks/actions.ts
  frontend/src/slices/trucks/enums/action-name.enum.ts
  frontend/src/slices/trucks/trucks.ts
  frontend/src/slices/trucks/types/start-watch-truck-location.type.ts
  frontend/src/slices/trucks/types/types.ts
Labels: frontend, backend, ENV

#380 th-216: Truck filters functionality
  backend/src/libs/packages/geolocation-cache/geolocation-cache.socket-service.ts
  backend/src/packages/shifts/shift.repository.ts
  frontend/package.json
  frontend/src/libs/components/autocomplete/autocomplete.tsx
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/dropdown/styles.module.scss
  frontend/src/libs/components/location-input/location-input.tsx
  frontend/src/libs/components/map/map.tsx
  frontend/src/libs/components/tow-truck-card/libs/constants/constants.ts
  frontend/src/libs/components/tow-truck-card/libs/helpers/format-distance-into-kilometers.helper.ts
  frontend/src/libs/components/tow-truck-card/libs/helpers/get-tow-truck-image.helper.ts
  frontend/src/libs/components/tow-truck-card/libs/helpers/helpers.ts
  frontend/src/libs/components/tow-truck-card/tow-truck-card.tsx
  frontend/src/libs/components/truck-filter/libs/enums/enums.ts
  frontend/src/libs/components/truck-filter/libs/enums/filter-option.enum.ts
  frontend/src/libs/components/truck-filter/libs/enums/filter-value.enum.ts
  frontend/src/libs/components/truck-filter/libs/fields/fields.ts
  frontend/src/libs/components/truck-filter/libs/fields/filter-fields.ts
  frontend/src/libs/components/truck-filter/styles.module.scss
  frontend/src/libs/components/truck-filter/truck-filter.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/truck-filter-field.enum.ts
  frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/libs/constants/constants.ts
  frontend/src/libs/packages/map/libs/helpers/create-icon.helper.ts
  frontend/src/libs/packages/map/map-connector.package.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/libs/types/location-change-handler.type.ts
  frontend/src/libs/types/truck-filters.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/available-trucks/libs/components/available-truck-card/available-truck-card.tsx
  frontend/src/pages/homepage/components/map/map.tsx
  frontend/src/pages/homepage/components/map/styles.module.scss
  frontend/src/pages/homepage/components/truck-list/truck-list.tsx
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/homepage/libs/helpers/get-sorted-trucks.helper.ts
  frontend/src/pages/homepage/libs/helpers/get-trucks-locations.helper.ts
  frontend/src/pages/homepage/libs/helpers/helpers.ts
  frontend/src/pages/homepage/libs/hooks/hooks.ts
  frontend/src/pages/homepage/libs/hooks/use-get-trucks-with-distance.hook.ts
  frontend/src/pages/homepage/libs/types/truck-with-distance.ts
  frontend/src/pages/homepage/libs/types/types.ts
  frontend/src/pages/homepage/styles.module.scss
  frontend/src/pages/order/libs/components/libs/fields.ts
  frontend/src/pages/order/libs/components/order-form.tsx
  frontend/src/slices/trucks/trucks.slice.ts
  package-lock.json
Labels: enhancement, root, frontend, backend

#411 th-383: Bug: When the driver logs out of the system, and another driver logs in, the shift is opened on the previous driver
  frontend/src/libs/packages/socket/socket.package.ts
  frontend/src/slices/auth/actions.ts
Labels: bug, frontend

#332 th-247: Customer Journey - Authorized user can see the history of its own orders
  backend/src/packages/orders/libs/types/types.ts
  backend/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  backend/src/packages/orders/order.controller.ts
  backend/src/packages/orders/order.repository.ts
  backend/src/packages/orders/order.service.ts
  frontend/src/assets/css/vars.scss
  frontend/src/assets/img/arrow.svg
  frontend/src/assets/img/money.svg
  frontend/src/libs/components/badge/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/customer-order-card/customer-order-card.tsx
  frontend/src/libs/components/customer-order-card/libs/enums/badge-status-color.enum.ts
  frontend/src/libs/components/customer-order-card/libs/enums/enums.ts
  frontend/src/libs/components/customer-order-card/libs/enums/progress-status.enum.ts
  frontend/src/libs/components/customer-order-card/libs/helpers/convert-date.helper.ts
  frontend/src/libs/components/customer-order-card/libs/helpers/helpers.ts
  frontend/src/libs/components/customer-order-card/libs/map/map-order-status-to-badge-status.map.ts
  frontend/src/libs/components/customer-order-card/libs/map/map.ts
  frontend/src/libs/components/customer-order-card/libs/types/badge-status.type.ts
  frontend/src/libs/components/customer-order-card/libs/types/types.ts
  frontend/src/libs/components/customer-order-card/styles.module.scss
  frontend/src/libs/components/customer-order-list/customer-order-list.tsx
  frontend/src/libs/components/customer-order-list/styles.module.scss
  frontend/src/libs/components/dropdown/dropdown.tsx
  frontend/src/libs/components/dropdown/styles.module.scss
  frontend/src/libs/components/header/libs/constants/burger-menu-items.ts
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/pagination/pagination.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/hooks/use-app-table/use-app-table.ts
  frontend/src/libs/palette/light-colors.module.scss
  frontend/src/libs/types/color.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/packages/orders/libs/enums/enums.ts
  frontend/src/packages/orders/libs/types/types.ts
  frontend/src/packages/orders/orders-api.ts
  frontend/src/packages/orders/orders.ts
  frontend/src/pages/customer-history/customer-history.tsx
  frontend/src/pages/customer-history/libs/options/order-status-options.ts
  frontend/src/pages/customer-history/styles.module.scss
  frontend/src/pages/pages.ts
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/libs/enums/action-name.enum.ts
  frontend/src/slices/orders/libs/types/route-addresses.ts
  frontend/src/slices/orders/libs/types/types.ts
  frontend/src/slices/orders/order.slice.ts
  frontend/src/slices/orders/order.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/validation-schemas/common-schemas/common-get-page-query.ts
  shared/src/packages/orders/libs/enums/orders-api-path.enum.ts
  shared/src/packages/orders/libs/types/order-find-all-user-orders-query.type.ts
  shared/src/packages/orders/libs/types/order-find-all-user-orders-response-dto.type.ts
  shared/src/packages/orders/libs/types/types.ts
  shared/src/packages/orders/libs/validation-schemas/order-find-all-user-orders-query.validation-schema.ts
  shared/src/packages/orders/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/orders/orders.ts
Labels: enhancement, root, frontend, backend, shared

#424 th-216: Fix the missing truck icon on the map
  frontend/src/libs/components/location-input/location-input.tsx
  frontend/src/libs/components/map/map.tsx
  frontend/src/libs/hooks/use-app-map/libs/helpers/get-bounds.helper.ts
  frontend/src/libs/hooks/use-app-map/libs/helpers/set-map-service.helper.ts
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/libs/interfaces/map.interface.ts
  frontend/src/libs/packages/map/libs/types/map-service-parameters.type.ts
  frontend/src/libs/packages/map/libs/types/place-lat-lng.type.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/pages/driver-order/driver-order.tsx
  frontend/src/pages/homepage/components/map/map.tsx
  frontend/src/pages/homepage/homepage.tsx
  frontend/src/pages/homepage/libs/helpers/get-trucks-locations.helper.ts
  frontend/src/pages/homepage/libs/hooks/use-get-trucks-with-distance.hook.ts
  frontend/src/pages/order/order.tsx
Labels: bug, frontend

#404 th-384: Make the columns in the Truck table smaller in width
  backend/src/packages/auth/auth.service.ts
  backend/src/packages/auth/auth.ts
  frontend/src/libs/components/table/styles.module.scss
  frontend/src/libs/components/table/table.tsx
  frontend/src/pages/dashboard/components/tables/trucks-table/styles.module.scss
Labels: bug, frontend, backend

#437 th-428: The driver with an active shift does not receive orders
  frontend/src/libs/components/driver-order-card/driver-order-card.tsx
  frontend/src/libs/components/driver-socket-provider/driver-socket-provider.tsx
  shared/src/libs/enums/app-route.enum.ts
Labels: bug, frontend, shared

#436 th-435: Fix driver verification status without a badge
  frontend/src/pages/dashboard/components/tables/drivers-table/columns/columns.tsx
  frontend/src/pages/dashboard/components/tables/drivers-table/libs/maps/maps.ts
  frontend/src/pages/dashboard/components/tables/drivers-table/libs/maps/verification-status-to-badge-color.map.ts
  frontend/src/pages/dashboard/components/tables/drivers-table/libs/types/types.ts
  frontend/src/pages/dashboard/components/tables/drivers-table/libs/types/verification-status-to-badge-color-map.type.ts
  frontend/src/pages/dashboard/components/tables/drivers-table/styles.module.scss
Labels: frontend

#441 th-438: Add an "arrow" between the location points
  frontend/src/libs/components/customer-order-card/customer-order-card.tsx
  frontend/src/libs/components/customer-order-card/styles.module.scss
Labels: bug, frontend

#443 th-428: The driver with an active shift does not receive orders
  backend/src/libs/packages/socket/socket.service.ts
  backend/src/packages/orders/order.service.ts
  frontend/src/libs/components/driver-socket-provider/driver-socket-provider.tsx
  frontend/src/libs/hooks/use-app-map/use-app-map.hook.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/libs/packages/middleware/socket.middleware.ts
  frontend/src/libs/packages/middleware/watch-order-create.middleware.ts
  frontend/src/libs/packages/store/store.package.ts
  frontend/src/pages/driver-order/driver-order.tsx
  frontend/src/pages/driver-order/libs/hooks/use-subscribe-order.hook.ts
  frontend/src/pages/order-status/order-status.tsx
  frontend/src/slices/orders/actions.ts
  frontend/src/slices/orders/libs/enums/action-name.enum.ts
  frontend/src/slices/orders/order.ts
  shared/src/libs/packages/socket/libs/enums/client-to-server-event.enum.ts
  shared/src/libs/packages/socket/libs/types/client-to-server-event-parameter.type.ts
Labels: frontend, backend, shared

#445 th-444: Fix stripe webhooks interceptor does not catch the events
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/packages/stripe/stripe.controller.ts
Labels: bug, backend

#442 th-440: Removed Time span in driver order card
  frontend/src/pages/driver-order/driver-order.tsx
  frontend/src/pages/driver-order/styles.module.scss
Labels: frontend

#439 th-425: Fix Incorrect Validation Behaviour In Auth-related Components
  frontend/src/libs/hooks/use-get-current-user/use-get-current-user.hook.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/selectors.ts
Labels: frontend

#447 th-446: Fix the add truck form
  frontend/src/pages/dashboard/components/form/add-truck-form/styles.module.scss
Labels: bug, frontend

#451 th-449: The map on the order screens does not change the geolocation when the driver arrives at the location
  frontend/src/libs/components/customer-order-card/customer-order-card.tsx
  frontend/src/libs/components/driver-order-card/driver-order-card.tsx
  frontend/src/libs/components/order-card/order-card.tsx
  frontend/src/libs/helpers/get-price-to-string/get-price-to-string.ts
  frontend/src/libs/helpers/helpers.ts
  frontend/src/pages/driver-order/driver-order.tsx
  frontend/src/pages/order-status/order-status.tsx
  frontend/src/pages/order/libs/components/libs/fields.ts
Labels: frontend, development

#452 th-00: Fix orders history loader
  frontend/src/libs/components/customer-order-card/customer-order-card.tsx
  frontend/src/libs/components/driver-order-card/driver-order-card.tsx
  frontend/src/pages/customer-history/customer-history.tsx
  frontend/src/pages/drivers-order-history/libs/components/driver-order-list-wrapper/driver-order-list-wrapper.tsx
Labels: bug, frontend

#453 Revert "th-00: Fix orders history loader"
  frontend/src/libs/components/customer-order-card/customer-order-card.tsx
  frontend/src/libs/components/driver-order-card/driver-order-card.tsx
  frontend/src/pages/customer-history/customer-history.tsx
  frontend/src/pages/drivers-order-history/libs/components/driver-order-list-wrapper/driver-order-list-wrapper.tsx
Labels: frontend
