Repository BinaryStudioAcademy/bsa-2023-towhub, pull requests merged in 2023-08, with the labels that each got.

#7 th-1: Basic db schema
  backend/src/libs/packages/database/database.package.ts
  frontend/index.html
  frontend/package.json
  package-lock.json
  package.json
  readme.md
Labels: documentation, root, frontend, development, backend

#36 th-00: * ci-pr commit lint event target
  .github/workflows/ci-pr.yml
Labels: development, workflows

#38 th-1: Fixed stylelint import-notation rule
  .stylelintrc.yml
  frontend/src/assets/css/styles.scss
Labels: enhancement, frontend, development

#29 th-19: Add Typography And Color Schema
  frontend/public/fonts/plusjakartasans-bold.woff2
  frontend/public/fonts/plusjakartasans-extrabold.woff2
  frontend/public/fonts/plusjakartasans-regular.woff2
  frontend/public/fonts/plusjakartasans-semibold.woff2
  frontend/src/assets/css/fonts.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/vars.scss
Labels: frontend

#32 th-25: 404 Page
  frontend/src/index.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/link/link.module.scss
  frontend/src/libs/components/link/link.tsx
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/pages/not-found/not-found.tsx
Labels: frontend, development

#40 th-18: Implement Customer Signup Form
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/form/form.tsx
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/form.enum.ts
  frontend/src/libs/types/form.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-up-form/libs/fields.ts
  frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  package-lock.json
  package.json
  shared/src/packages/users/libs/types/user-sign-up-request-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: root, frontend, development, shared

#58 th-55: Add clsx package for applying multiple classes
  frontend/package.json
  frontend/src/libs/helpers/get-valid-class-names/get-valid-class-names.helper.ts
  frontend/src/libs/helpers/helpers.ts
  package-lock.json
Labels: root, frontend, development

#61 th-26: Toast notification
  frontend/package.json
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/notification/notification.tsx
  frontend/src/libs/packages/notification/libs/enums/enums.ts
  frontend/src/libs/packages/notification/libs/enums/notification-theme.enum.ts
  frontend/src/libs/packages/notification/libs/enums/notification-transition.enum.ts
  frontend/src/libs/packages/notification/libs/options/notification.options.default.ts
  frontend/src/libs/packages/notification/notification-api.ts
  frontend/src/libs/packages/notification/notification.ts
  frontend/src/libs/packages/store/store.package.ts
  package-lock.json
Labels: root, frontend, development

#52 th-46: Create Loading component
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/spinner/spinner.tsx
  frontend/src/libs/components/spinner/styles.module.scss
Labels: frontend, development

#54 th-34: Create checkbox toggle radio components
  frontend/src/.stylelintrc.yml
  frontend/src/assets/css/animations.scss
  frontend/src/assets/css/styles.scss
  frontend/src/libs/components/checkbox/checkbox.module.scss
  frontend/src/libs/components/checkbox/checkbox.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/radio/radio.module.scss
  frontend/src/libs/components/radio/radio.tsx
  frontend/src/libs/components/toggle/toggle.module.scss
  frontend/src/libs/components/toggle/toggle.tsx
Labels: frontend

#47 th-20: Add styled button component
  frontend/package.json
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/icon/icon.tsx
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/icon/maps/maps.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/enums/icon-size.enum.ts
  package-lock.json
Labels: root, frontend, development

#59 th-49: Update storage services
  frontend/src/libs/exceptions/exceptions.ts
  frontend/src/libs/packages/storage/storage.package.ts
  frontend/src/libs/packages/storage/storage.ts
  frontend/src/packages/auth/auth.ts
  frontend/src/packages/users/users.ts
Labels: frontend

#69 th-27: Integrate Google Maps
  frontend/.env.example
  frontend/src/libs/components/map/map-inner-component/map-inner-component.tsx
  frontend/src/libs/components/map/map-inner-component/map.module.scss
  frontend/src/libs/components/map/map.tsx
  frontend/src/libs/hooks/hooks.ts
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
  frontend/src/libs/packages/map/libs/interfaces/interfaces.ts
  frontend/src/libs/packages/map/libs/interfaces/map.interface.ts
  frontend/src/libs/packages/map/map.package.ts
  frontend/src/libs/packages/map/map.ts
  package-lock.json
  package.json
Labels: root, frontend, ENV

#43 th-21: Create the css selectors for the input components
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/input/input.tsx
  frontend/src/libs/components/input/styles.module.scss
Labels: frontend, development

#71 th-14: Create header component
  frontend/src/assets/css/vars.scss
  frontend/src/assets/img/logo-brand.svg
  frontend/src/assets/img/logo-symbol.svg
  frontend/src/libs/components/app-logo/app-logo.module.scss
  frontend/src/libs/components/app-logo/app-logo.tsx
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/header/header.module.scss
  frontend/src/libs/components/header/header.tsx
Labels: frontend

#93 th-20: Extends a button component
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
Labels: enhancement, frontend

#100 th-99: Normalize CSS for better cross-browser experience
  frontend/package.json
  frontend/src/assets/css/scaffolding.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/vars.scss
  frontend/src/index.tsx
  package-lock.json
Labels: root, frontend, development

#92 th-27: Fix packages for Google Maps
  frontend/package.json
  package-lock.json
  package.json
Labels: root, frontend

#70 th-17: Implement Welcome Page
  frontend/src/.stylelintrc.yml
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/vars.scss
  frontend/src/assets/img/welcome-page/customer.png
  frontend/src/assets/img/welcome-page/rocket.png
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/business-card/business-card.tsx
  frontend/src/libs/components/business-card/styles.module.scss
  frontend/src/libs/components/components.ts
  frontend/src/libs/components/customer-card/customer-card.tsx
  frontend/src/libs/components/customer-card/styles.module.scss
  frontend/src/libs/components/image/image.tsx
  frontend/src/libs/components/image/styles.module.scss
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/hooks/hooks.ts
  frontend/src/pages/welcome/styles.module.scss
  frontend/src/pages/welcome/welcome.tsx
Labels: frontend, development

#83 th-9: Rewrite ER model using Mermaid in readme
  readme.md
Labels: root

#72 th-15: Websockets integration
  backend/package.json
  backend/src/libs/packages/server-application/server-app.ts
  backend/src/libs/packages/socket/libs/enums/enums.ts
  backend/src/libs/packages/socket/socket.service.ts
  backend/src/libs/packages/socket/socket.ts
  frontend/package.json
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/packages/config/config.package.ts
  frontend/src/libs/packages/config/libs/types/environment-schema.type.ts
  frontend/src/libs/packages/socket/libs/enums/enums.ts
  frontend/src/libs/packages/socket/socket.package.ts
  frontend/src/libs/packages/socket/socket.ts
  package-lock.json
  shared/src/index.ts
  shared/src/libs/packages/socket/libs/enums/client-socket-event.enum.ts
  shared/src/libs/packages/socket/libs/enums/enums.ts
  shared/src/libs/packages/socket/libs/enums/server-socket-event.enum.ts
  shared/src/libs/packages/socket/socket.ts
Labels: root, frontend, backend, shared

#103 th-82: Create badge component
  frontend/src/.stylelintrc.yml
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/badge/badge.tsx
  frontend/src/libs/components/badge/dark-colors.module.scss
  frontend/src/libs/components/badge/light-colors.module.scss
  frontend/src/libs/components/badge/styles.module.scss
  frontend/src/libs/components/badge/types/color.type.ts
  frontend/src/libs/components/badge/types/dark-color.type.ts
  frontend/src/libs/components/badge/types/light-color.type.ts
  frontend/src/libs/components/components.ts
Labels: frontend

#75 th-64: Create Sign-in form
  frontend/src/assets/css/vars.scss
  frontend/src/assets/img/auth-page-bg.svg
  frontend/src/libs/components/app/app.tsx
  frontend/src/libs/components/form/form.tsx
  frontend/src/libs/components/form/styles.module.scss
  frontend/src/libs/components/header/header.tsx
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/types/types.ts
  frontend/src/packages/auth/auth-api.ts
  frontend/src/packages/users/libs/types/types.ts
  frontend/src/packages/users/libs/validation-schemas/validation-schemas.ts
  frontend/src/packages/users/users.ts
  frontend/src/pages/auth/auth.tsx
  frontend/src/pages/auth/components/sign-in-form/libs/constants.ts
  frontend/src/pages/auth/components/sign-in-form/libs/fields.ts
  frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  frontend/src/pages/auth/components/sign-in-form/styles.module.scss
  frontend/src/pages/auth/styles.module.css
  frontend/src/slices/auth/actions.ts
  frontend/src/slices/auth/auth.slice.ts
  frontend/src/slices/auth/auth.ts
  shared/src/index.ts
  shared/src/packages/auth/libs/enums/auth-api-path.enum.ts
  shared/src/packages/users/libs/types/types.ts
  shared/src/packages/users/libs/types/user-sign-in-request-dto.type.ts
  shared/src/packages/users/libs/types/user-sign-in-response-dto.type.ts
  shared/src/packages/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  shared/src/packages/users/libs/validation-schemas/validation-schemas.ts
  shared/src/packages/users/users.ts
Labels: frontend, shared

#104 th-77: Add sidebar and layout
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/vars.scss
  frontend/src/libs/components/button/button.tsx
  frontend/src/libs/components/button/styles.module.scss
  frontend/src/libs/components/header/styles.module.scss
  frontend/src/libs/components/icon/maps/icon-name-to-svg.map.ts
  frontend/src/libs/components/page-layout/page-layout.tsx
  frontend/src/libs/components/page-layout/styles.module.scss
  frontend/src/libs/components/router/router.tsx
  frontend/src/libs/enums/app-route.enum.ts
  frontend/src/libs/enums/enums.ts
  frontend/src/libs/enums/icon-name.enum.ts
  frontend/src/libs/enums/sidebar-tabs.enum.ts
  frontend/src/libs/types/sidebar.type.ts
  frontend/src/libs/types/types.ts
  frontend/src/pages/dashboard/components/sidebar/sidebar.tsx
  frontend/src/pages/dashboard/components/sidebar/styles.module.scss
  frontend/src/pages/dashboard/components/sidebar/tabs.ts
  frontend/src/pages/dashboard/dashboard.tsx
Labels: enhancement, frontend, development
